.git
.github
.ai
.claude
.venv
venv
__pycache__
*.pyc
node_modules
outputs
report
dataset/**
!dataset/data/
!dataset/data/raw_ml/
!dataset/data/raw_ml/road_scored.csv
!dataset/data/raw_ml/facility_clean.csv
!dataset/data/raw_ml/tour_poi.csv
!dataset/models/
!dataset/models/route_graph.pkl
*.backup
*.pdf
*.pptx
*.mar
subproject
kaggle
torchserve
e6e5a79c-*.backup
